<template>
    <div>
        Hello, {{ name }}!!!<br />
        Today is a {{ day }}.
    </div>
</template>

<script lang="ts">
    import * as Luxon from 'luxon';
    export default {
        data: function() {
            return {
                name: "Saurabh",
                day: Luxon.DateTime.utc().toFormat("dd")
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>