<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import '@fortawesome/fontawesome-free/css/all.css';

export default Vue.extend({
    
});
</script>

<style lang="scss" scoped>

</style>